/* Footer Styles */
footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo img {
  max-width: 100px; /* Adjust the logo width as needed */
}

.footer-links ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer-links li {
  margin-right: 20px;
}

.footer-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--bg-main-color);
}

.footer-text {
  margin-top: 20px;
  font-size: 14px;
}
