@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #86c0ff;
}

/* Styles for Navbar */

.navbar {
  background-color: #55b5ff;
  border-radius: 40px;
  margin-top: 15px;
}

.navbar-brand {
  color: #fff;
  font-weight: 800;
}

.navbar-toggler {
  margin-right: 5px;
}

.nav-item a {
  color: #fff;
  margin: 0 10px;
}

.navbar-collapse {
  display: flex;
  flex-grow: 0;
  justify-content: flex-end;
}

/* Left Container */

.left-container {
  width: 50%;
  height: 100vh;
  background-color: bisque;
}

/* Current Weather */

.current-weather {
  width: 542px;
  height: 382px;
  background-color: #55b5ff;
  border-radius: 40px;
  margin: 40px 0 38px 38px;
}

/* Search Bar and button */

.search-bar {
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 300px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 0;
  background-color: #d8d9da;
  border-color: transparent;
  border-radius: 40px;
}

.search-bar input[type="text"]::placeholder {
  text-align: center;
}

.search-bar button img {
  width: 20px;
}

.search-bar button {
  border-radius: 100%;
  padding: 5px;
  border-color: transparent;
  margin-top: 10px;
}

/* Current Weather topic */

.current-weather-topic {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #fff;
  font-weight: 800;
}

/* Weather icon card  */

.weather-icon-card {
  width: 164px;
  height: 230px;
  /* background-color: antiquewhite; */
  margin: 10px 54px 36px;
}

/* Weather icon and details */

.weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-details img {
  width: 146px;
}

.weather-details p {
  color: #fff;
  margin: 2px;
}

.weather-details .city {
  font-weight: bold;
  font-size: 25px;
}
